body{
  background-color: #000;
  font-family: Montserrat;
}

h4{
	color: #ed630b;
}

#register-form, #terms_form, #otp_div{
	background-color: #fff;
	margin-top: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 15px;
}

.address-container{
	border: 1px solid #ddd;
	border-radius: 3px;
	height: 8em;
}

.address-container.focus{
	border-color: #86b7fe;
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.address, .address:focus{
	border: none;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

.city-seperator{
	float: left;
	line-height: 2em;
}


#terms_form{
	height: 80vh;
	overflow: scroll;
}
.btn-primary { 
  width: initial !important; 
  background-color: #4c7f00;
  border: #4c7f00 ;
}

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 4.25rem !important;
}

h4{
  text-align: center;
  font-size: 35px;
	margin-bottom: 25px;
}

label{
  font-size: 10px; 
}

#checkagree{
	font-size: 13px;
	color: red;
	margin-bottom: 7px;
}
.hide{
	display:none !important;
}
#register{
	background-color: #b437d9;
	border: #b437d9;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff !important;
}
.login{
	float: right;
	display: block;
	text-decoration: none;
	color: #000;
	text-align: right;
}
.submit_otp{
	background-color: #b437d9;
	border: #b437d9;
}
.resend_otp{
	background-color: #b437d9;
	border: #b437d9;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}
.resend_otp.animate{
  animation: resend_otp_animate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
	position: absolute;
	top: 50vh;
	left:50%;
}
.loading{
	position: absolute;
	top:5%;
	background: rgba(0,0,0,0.8);
	width:100%;
	height:100vh;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #799a27;
  border-color: #799a27 transparent #799a27 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes resend_otp_animate{
  0% { background-color: #b437d9;}
  50% { background-color: red;}
  100% { background-color: #b437d9;}
}
