/*
 * This file will have the styles for the forms 
 *
 * This will make up the default form styles and other form styles will override
 * this css file.
 *
 * @package cpcss
 * @ver 0.1
 */

/* TODO:
 * Change all sizes from rem to variables that respond to font size or something*/

/* Form */
.form{
  position : relative;
}

/* form group */
.form-group{
  position : relative;
  margin-bottom : 1rem;
}

.form-group .input{
  font-size : var(--font-size);
  border-radius : var(--border-radius);
  width : calc(80% - 2rem);
  border : 1px solid;
  background-color : var(--input-bg-color);
  color : var(--input-color);
  padding-top : 0.5rem;
  padding-bottom : 0.2rem;
  padding-left : 0.5rem;
  margin-bottom : var(--margin-bottom);
  font-weight : 700;
}

.form-group .input:focus{
  background-color : var(--input-focus-color);
}

.form-group .input:focus-visible{
  outline-style : none;
}

.form-group.icon .input{
  padding-left : 1.8rem;
}

.form-group.icon .fas{
  position : absolute;
  top : 0.6rem;
  left : 1.5rem;
  color : var(--icon-color);
}

/* Required icom */
.icon-required{
  left : calc(100% - 2.5rem) !important;
  top : 0.3rem !important;
  color : var(--icon-required-color) !important;
  background-color : var(--icon-required-bg);
  width : fit-content;
  border : 2px solid var(--icon-required-bg);
  border-radius : 50%;
}

/* Floating Labels */
.floating-label{
  display : none;
}

/* Floating label with Icons */
.form-group.icon .floating-label{
 left : 2.8rem;
}

.form-group .floating-label{
  font-size : 0.8rem;
  position : absolute;
  top : -0.8rem;
  left : 1.3rem;
}

.drag-upload {
  background-color: var(--bg-color);
  outline: 2px dashed black;
  outline-offset: -10px;
  min-height : 15em;
}

/* placeholers */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color : var(--placeholder-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color : var(--placeholder-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color : var(--placeholder-color);
}
