
.menu {
  --margin : 0.5rem;
  --padding : 0.5rem;
  --border-radius : 5px;
  --vertical-padding : var(--padding);
}

.form-group{
  --font-size : 1rem;
  --border-radius : 10px;
}

.form-group .input{
  --margin-bottom : 0.5rem;
}
